## Phase A (contracts)
# These are template vars compiled into the contract during deployment (TMPL_ prefix).
TMPL_platform_wallet=CQOKEGWZXRXYHOHMECN7GL7ETXFZEQKPYDRK5VO643BCBXLNN6KGYOXARU
TMPL_usdc_asset_id=1003

## Phase B (server)
PORT=3001
PLATFORM_WALLET=CQOKEGWZXRXYHOHMECN7GL7ETXFZEQKPYDRK5VO643BCBXLNN6KGYOXARU
PLATFORM_MNEMONIC="identify ivory flower practice addict stairs sustain video nut sea muffin maid fold license tennis dinner hurt member elephant cinnamon dose index offer man"
CONTRACT_APP_ID=1010
GOPLAUSIBLE_API_KEY=
ALGORAND_NODE_URL=http://localhost:4001
ALGORAND_INDEXER_URL=http://localhost:8980
ALGORAND_NODE_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
USDC_ASA_ID=1003

CF_ACCOUNT_ID=
CF_STREAM_KEY_ID=
CF_STREAM_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"

