## Phase A (contracts)
# These are template vars compiled into the contract during deployment (TMPL_ prefix).
TMPL_platform_wallet=
TMPL_usdc_asset_id=

## Phase B (server)
PORT=3001
PLATFORM_WALLET=
PLATFORM_MNEMONIC=
CONTRACT_APP_ID=
GOPLAUSIBLE_API_KEY=
ALGORAND_NODE_URL=https://testnet-api.algonode.cloud
ALGORAND_INDEXER_URL=https://testnet-idx.algonode.cloud
ALGORAND_NODE_TOKEN=
USDC_ASA_ID=

CF_ACCOUNT_ID=
CF_STREAM_KEY_ID=
CF_STREAM_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"

